*{
    font-family: Arial;
    margin: 0px;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.navlogo{
    height:50px;
    width:100px;
    margin-right: 5px;
}
.logo{
    height:50px;
    background-image:url(spider-man-logo-red-background-marvel-comics-minimalist-ps4-3840x2160-6430.jpg) ;
    background-size: cover;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* box2 */
.add1{
    font-size: 12px;
    color: #cccccc;
    margin-left: 13px;
}
.add2{

    font: 14px;
    color: #ffffff;
    margin-left:  3px;
}
.addicon{
    display: flex;
}
/* box3 */
.navsearch{
    display: flex;
    justify-content: space-evenly;
    
    width: 620px;
    height: 40px;
    border-radius:5px;
    border: 4px solid transparent;
}
.navsearch:hover{
   border: 1.5px solid #FEBD68;
}
.select{
    width: 50px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
    border: none;
    font-size: 1rem;
}
.search{
   width: 100%;
   font-size: 1rem;
   border: none;

}
.searchicon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius:5px ;
    border-bottom-right-radius: 5px;
}
/* box4 and box 5*/

span{
    font-size: 0.75rem;

}
.nav1{
    font-size: 0.85rem;
    font-weight: 800;
}
/* box6 */
.cart i{
    font-size:34px;
  

}
.cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel */
.panel{
   height: 40px;
   background-color: #222f3d; 
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   color: white;
}
.panel-ops p{
    display:inline;
    margin-left:10px;
    
}
.panel-ops{
    font-size:0.745rem;
    font-weight:700;
    width:85%;
}
/* herosection */
.hero{
    background-image: url(marvels-spider-man-3840x2160-11990.jpeg);
    height:400px;

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.heromsg{
    background-color: white;
    color: black;
    height: 40px;
    font-size: 0.85;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

}
.heromsg a{
    color: #007185 ;

}
/* shopsection */
.shop-section{
    margin:10px 10px 10px 10px ;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: #cccccc;
}
.box{
    height: 400px;
    width:23%;
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
h2{
    font-size: 16px;
}    

}
.conimg{
   
    background-size: cover;
    width: 190px;
    height: 300px;
}
/* foooter */
footer{
    margin-top:15px;
}
.foot-panel1{
    font-size: 13px;
    color: white;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 15px;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display:flex ;
    justify-content:space-evenly ;

}
ul a{
    display:block;
    font-size: 13px;
    margin-top: 10px;
}
.foot-panel2 p{
    font-size: 16px;
    font-weight: 500;
    margin:6px 0px 14px;
}
ul{
    margin-top:20px; 
}
.foot-panel3{
    background-color: #222f3d ;
    color: white;
    border-top: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

}
.logo{
    height:50px;
    background-image:url(spider-man-logo-red-background-marvel-comics-minimalist-ps4-3840x2160-6430.jpg) ;
    background-size: cover;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    height: 70px;
    color: white;
    padding: 20px 0px 30px 0px;
    font-size: 14px;
    
  
}
.f{
    text-align: center;
}